- content_for :page_title do
  Store
= render 'shared/head'

#checkout.checkout-content{"data-hook" => ""}
  = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
  .columns.thirteen.omega{"data-hook" => "checkout_progress"}= checkout_progress
  .divider.width-80
  .row{"data-hook" => "checkout_header"}
    %h2.teal.all-caps.columns.three.alpha{"data-hook" => "checkout_title"}= Spree.t(:checkout)
    %h3.gray (WHERE DO YOU WANT IT TO BE SENT?)

  .row{"data-hook" => "checkout_content"}
    %div{:class => "columns #{if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end}", "data-hook" => "checkout_form_wrapper"}
      = form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form|
        - unless @order.email?
          %p.field{:style => "clear: both"}
            = form.label :email
            %br/
            = form.text_field :email
        = render @order.state, :form => form
    - if @order.state != 'confirm'
      #checkout-summary.columns.omega.four{"data-hook" => "checkout_summary_box"}
        = render :partial => 'summary', :locals => { :order => @order }
