%li 
	- if this_service.logo? then
		%img{:src => this_service.logo(:thumb), :alt => "#{this_service.title} Logo"}
	- else
		-# this should never happen
		%img{:src => "https://d1wgd08o7gfznj.cloudfront.net/assets/logo-title-f6dc287199cb99c0a025d2ff47e4f5e6.png", :alt => "#{this_service.title} Logo"}
	%a{href: "/service/#{this_service.id}/#{@featured ? 1 : 0}/1", target: '_blank'}
		%h3= this_service.title
	%p= this_service.description
	.service-action-wrapper.service-entry
		%a.extra-top-margin.fancybox{href: "\#message_lightbox_#{this_service.id}"} 
			%h4
				%img.message-icon.float-left{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/icon-mail.png", :alt => ""}/
				Get In Contact
		%a{href: "/service/#{this_service.id}/#{@featured ? 1 : 0}/2", target: '_blank'} VISIT THEIR WEBSITE
