= render 'shared/head'

= render 'service_subnav'
- content_for :page_title do
	= raw "#{@service.title} | "

- content_for :intro_text do
	.about-us-wrapper.no-padding.no-heading
		.suggest-tool-wrapper
			%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/we-wanna-hear.png", :alt => ""}/ 
			%a.fancybox{:href => "\#suggest_a_service"}
				%h2 Recommend A Service
			.divider
			/ %p We’d love to make this the best set of tools possible. Let us know if there’s a <a class="fancybox" href="#suggest_a_service">service you suggest</a>.
		/ %p Running a campaign can be tough work, but luckily there are dozens of groups to help make the process easier. Here are a few crowdfunding friendly services that can help you reach your goal. Explore & enjoy!


.service-entry-page
	.top-content-wrapper
		.width-30.float-left
			- if @service.logo? then
				%img.center_img{:src => @service.logo(:thumb), :alt => "#{@service.title} Logo"}/
			%a{href: "/service/#{@service.id}/#{@featured ? 1 : 0}/3", target: '_blank'}
				%h1.teal= @service.title

		
		%p.width-60.float-right= raw @service.page_body_html

	.resource-link-wrapper
		%a.float-left{:href => "/campaign-tools/services/#{@service.service_category.seo_url}"}
			%h4= "<< #{@service.service_category.title}"

		%a.float-right{href: "/service/#{@service.id}/#{@featured ? 1 : 0}/4", target: '_blank'}
			%h4  &#124; Visit Their Site >>
		%a.fancybox.float-right#send-message-link{:href => "\#message_lightbox_#{@service.id}"}
			%h4 Send Them A Message

= render partial: 'shared/tools/suggest_a_tool', locals: {tool_is_service: true}

= render partial: 'message_service', locals: {this_service: @service}

:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});