= render partial: 'head'
- content_for :page_title do
	= raw "News, Discussion, and Tips for Crowdfinding - Discussion Board | "
- content_for :intro_text do
	-# / .about-us-wrapper.extra-padding.no-heading
	-# / 	%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.


#discussion-board
	%br/ 
	.submit-form.submit-comment
		= form_for CommunityPost.new do |f|
			= f.text_area :body, class: "float-left form-control", id: "discussion-comment", size: '30x10'
			%button.btn.gray-button.float-right.center-align{type: :submit} Share Your Thoughts
	%br/ 

	- @posts.each do |post|

		.discussion-entry
			.divider
			%br/ 
			%p= post.body
			%h3.teal.float-right="- #{post.author}"
			%ul.action-items.float-left
				-# %li 
				-# 	%a{:href => ""}Reply 
				-# %li.pipe 
				-# 	%a &#124
				%li 
					%a.show-comments-link{:href => "javascript: void();"}Show Comments 
				- if can? :delete, post then
					%li 
						= link_to "Delete", post, method: :delete, data: {confirm: 'Delete this post?'}
			%br/

			- post.comments.each do |comment|
				= render partial: 'comments/comment_on_community_post', locals: {comment: comment, visible: false}

			.discussion-entry-mini.dont-show
				.divider
				.submit-form.submit-comment
					= form_for [post, Comment.new], remote: true do |f|
						= f.text_area :body, class: 'float-left form-control', id: "discussion-comment", size: '30x10'
						= f.button "Post Reply", class: "btn gray-button float-right center-align"
		
		