%h4= "Title: #{advice_post.title}"
%p= "Body: #{advice_post.body}"
- if advice_post.image?
	%p Image:
	= image_tag advice_post.image.url(image_style)
- elsif advice_post.video_html then
	%p Video:
	= advice_post.video_html.html_safe
