= form_for advice_post, html: { multipart: true } do |f|
	- if advice_post.errors.any?
		#error_explanation
			%h2= "#{pluralize(advice_post.errors.count, "error")} prohibited this advice_post from being saved:"
			%ul
				- advice_post.errors.full_messages.each do |msg|
					%li= msg
	.field
		= f.label :post_text
		= f.text_area :post_text
	.field
		= f.label "Image (optional)"
		= f.file_field :image
	.actions
		= f.submit 'Save'
