- if tool_is_service then
	- box_id = "suggest_a_service"
	- tool_type = "Service"
- else
	- box_id = "suggest_a_resource"
	- tool_type = "Resource"
.dont-show.suggest_tool.services-box.message_lightbox{id: box_id}
	.service-message-wrapper
		%h2= "Suggest a #{tool_type}"
		.divider
		%p 
			We've done a lot of research to find the best tools for crowdfunders. If there are resources you think we should add to the list, please let us know! Thanks!
		.divider
		= form_for ToolSuggestion.new, url: '/campaign-tools/create_tool_suggestion' do |f|
			= f.hidden_field :tool_type, value: tool_type
			.service-action-wrapper.suggest
				= f.label "#{tool_type} name, url, basic info:", class: "field-label"
				= f.text_field :tool_name, size: "30x10", class: "form-control message-box"
				%br
				= f.label "Message", class: "field-label"
				= f.text_area :message, size: "30x10", class: "form-control message-box" 
				%br
				= f.label "Your Name (optional)", class: "field-label"
				= f.text_field :email, size: "30x10", class: "form-control message-box"
			
			.bottom-service-buttons
				.divider
				.float-left.button.gray-button
					%a{:href => "javascript: $.fancybox.close();"} Never Mind
				= f.submit :Send, class: "float-right button blue-button"

