- comment_form = 'comments/form'
- new_comment_on_comment_message = 'Create new comment on comment'
- comments.each do |comment|
	%p= comment.body
	- if comment.parent_id then
		%p= "Parent comment: #{comment.parent.body}"
	= render partial: 'shared/voting', locals: {votable: comment, votable_name: 'comment', vote_path_for_votable: create_votable_path_for_comment(commentable, comment)}
	- if can? :delete, comment then
		%p= link_to 'Delete Comment', [commentable, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }
	%br
	- if comment.can_have_children? then
		- if comment.has_children? then
			= render partial: 'comments/comments_on_object', locals: {comments: comment.children_query.find_with_reputation(:votes, :all, {order: 'votes desc'}), commentable: commentable, parent_id: comment.id, new_comment_message: new_comment_on_comment_message}
		- else
			- if can? :create, Comment then
				%h4= new_comment_on_comment_message
				= render partial: comment_form, locals: {comment: commentable.comments.new, commentable: commentable, parent_id: comment.id}
- if can? :create, Comment then
	%h4= new_comment_message
	= render partial: comment_form, locals: {comment: commentable.comments.new, commentable: commentable, parent_id: parent_id}