.comment-rating.float-left
	- if can? :vote, votable then
		- vote_value = current_user ? votable.current_user_vote_value(current_user) : 0
		- if vote_value == 1 then
			= link_to ".", vote_path_for_votable.call("up"), method: "post", class: 'vote-arrow arrow-stacked up-arrow voted-arrow'
		- else
			= link_to ".", vote_path_for_votable.call("up"), method: "post", class: 'vote-arrow arrow-stacked up-arrow'
		- if vote_value == -1 then
			= link_to ".", vote_path_for_votable.call("down"), method: "post", class: 'vote-arrow arrow-stacked up-arrow bottom-stacked-arrow voted-arrow'
		- else
			= link_to ".", vote_path_for_votable.call("down"), method: "post", class: 'vote-arrow arrow-stacked up-arrow bottom-stacked-arrow'
	- else
		= link_to ".", new_user_session_path, method: "post", class: 'vote-arrow arrow-stacked up-arrow'
		= link_to ".", new_user_session_path, method: "post", class: 'vote-arrow arrow-stacked up-arrow bottom-stacked-arrow'
