%fieldset#shipping_method{"data-hook" => ""}
  %legend{:align => "center"}= Spree.t(:delivery)
  .inner{"data-hook" => "shipping_method_inner"}
    #methods
      = form.fields_for :shipments do |ship_form|
        .shipment
          / %h3.stock-location{"data-hook" => "stock-location"}
          /   = Spree.t(:package_from)
          /   %strong.stock-location-name{"data-hook" => "stock-location-name"}= ship_form.object.stock_location.name
          %table.stock-contents{"data-hook" => "stock-contents"}
            %colgroup
              %col{:style => "width: 10%;"}/
              %col{:style => "width: 60%;"}/
              %col{:style => "width: 10%;"}/
              %col{:style => "width: 20%;"}/
            %thead
        / Category titles
        / %th image
        / %th name
        / %th quantity
        / %th price
        
        / Product Images
        / %tbody
        /   - ship_form.object.manifest.each do |item|
        /     %tr.stock-item
        /       %td.item-image= mini_image(item.variant)
        /       %td.item-name= item.variant.name
        /       %td.item-qty= item.quantity
        /       %td.item-price= display_price(item.variant)
       
        / "Shipping Method" Title
        / %h5.stock-shipping-method-title= Spree.t(:shipping_method)
        %ul.field.radios.shipping-methods
          - ship_form.object.shipping_rates.frontend.each do |rate|
            %li.shipping-method
              %label
                = ship_form.radio_button :selected_shipping_rate_id, rate.id
                %span.rate-name= rate.name
                %span.rate-cost= number_to_currency rate.cost
    - if @differentiator.missing?
      .shipment.unshippable
        %h3.stock-location{"data-hook" => "stock-location"}
          = Spree.t(:unshippable_items)
        %table.stock-contents{"data-hook" => "stock-missing"}
          %colgroup
            %col{:style => "width: 10%;"}/
            %col{:style => "width: 60%;"}/
            %col{:style => "width: 10%;"}/
            %col{:style => "width: 20%;"}/
          %thead
      %th image
      %th name
      %th quantity
      %th price
      %tbody
        - @differentiator.missing.each do |variant, quantity|
          %tr.stock-item
            %td.item-image= mini_image(variant)
            %td.item-name= variant.name
            %td.item-qty= quantity
            %td.item-price= display_price(variant)
  - if Spree::Config[:shipping_instructions]
    %p#minstrs{"data-hook" => ""}
      = form.label :special_instructions, Spree.t(:shipping_instructions)
      %br/
      = form.text_area :special_instructions, :cols => 40, :rows => 7


.divider.caption
  %a.float-left Want To Support More Amazing Projects, click here to continue browsing.
/ %hr.clear/
.form-buttons{"data-hook" => "buttons"}
  = submit_tag Spree.t(:save_and_continue), :class => 'continue button blue-button float-right'

/ PREVIOUS SUBMIT BUTTON
/ %br/
/ .form-buttons{"data-hook" => "buttons"}
/   = submit_tag Spree.t(:save_and_continue), :class => 'continue button primary'

.bottom-button-wrapper.float-left
  %a.button.gray-button{:href => ""} Go Back
  %a.button.gray-button{:href => ""} Continue Shopping 