- content_for :page_title do
	Store
= render partial: 'spree/shared/head', layout: 'shared/head'
= render 'spree/shared_custom/subnav'
- content_for :intro_text do
	.about-us-wrapper.extra-padding
		%h1 People Are Amazing
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing.
- paginated_products = @searcher.retrieve_products if params.key?(:keywords)
- paginated_products ||= @products
- if @products.empty?
	= Spree.t(:no_products_found)
- elsif params.key?(:keywords)
	%h6.search-results-title= Spree.t(:search_results, :keywords => h(params[:keywords]))
- num_products = @products.length
.three-column-wrapper
	- if num_products > 0
		.column.first_col
			%ul
				- (0..num_products - 1).step(3).each do |index|
					= render partial: 'spree/shared_custom/product_card', locals: {product: @products[index]}
	- if num_products > 1 then
		.column.second_col
			%ul
				- (1..num_products - 1).step(3).each do |index|
					= render partial: 'spree/shared_custom/product_card', locals: {product: @products[index]}
	- if num_products > 2 then
		.column.third_col
			%ul
				- (2..num_products - 1).step(3).each do |index|
					= render partial: 'spree/shared_custom/product_card', locals: {product: @products[index]}

- if paginated_products.respond_to?(:num_pages)
	= paginate paginated_products

