- content_for :page_title do
	= posts_title(@tag)
= render partial: 'shared/conversation/head', layout: 'shared/head'
= render partial: 'conversation_posts/conversation_subnav', locals: {post_klass: post_klass}




- if can? :create, post_klass then
	= render partial: 'conversation_posts/create_form', locals: {conversation_post: post_klass.new, share_message: share_message}


%a.fancybox{rel: "group", href: "\#message_lightbox"} Activate Messages Lightbox

- num_posts = @posts.length

.post-entry.convo-entry
	.three-column-wrapper.services
		- if num_posts > 0 then
			.column.first_col
				%ul 
					- (0..num_posts - 1).step(3).each do |index|
						= render partial: 'conversation_posts/post_list_item', locals: {post: @posts[index], vote_path_for_votable: create_votable_path_for_conversation_post(@posts[index])}

		- if num_posts > 1 then
			.column.second_col
				%ul 
					- (1..num_posts - 1).step(3).each do |index|
						= render partial: 'conversation_posts/post_list_item', locals: {post: @posts[index], vote_path_for_votable: create_votable_path_for_conversation_post(@posts[index])}
		- if num_posts > 2 then
			.column.third_col
				%ul 
					- (2..num_posts - 1).step(3).each do |index|
						= render partial: 'conversation_posts/post_list_item', locals: {post: @posts[index], vote_path_for_votable: create_votable_path_for_conversation_post(@posts[index])}



-# .conversation-page
-# %h1= "#{post_klass.friendly_name}"

-# - @posts.each do |post|
-# 	.column
-# 		/ Content for the post (e.g. title, description, etc)
-# 		= render partial: 'conversation_posts/display', locals: {conversation_post: post, image_style: :thumb}
-# 		/ Voting Information
-# 		= render partial: 'shared/voting', locals: {votable: post, votable_name: 'post', vote_path_for_votable: create_votable_path_for_conversation_post(post)}
-# 		%p 
-# 			= link_to 'Show', post
-# 			- if can? :destroy, post then
-# 				= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

.dont-show#message_lightbox
	.lightbox-content-wrapper
		/ There Is No Project Title That Appears in the Lightbox
		
		/ This Is the Main Piece of Media
		.lightbox-main-media
			%iframe{:frameborder => "0", :height => "360", :src => "http://www.kickstarter.com/projects/445602678/the-handleband/widget/video.html", :width => "480"}
		
		/ This Is The Description
		%p This is the product description. Buet. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

		.divider

		.post-comment-wrapper
			%textarea.form-control{:rows => "3"}
			%button.button.blue-button.float-right Share Your Thoughts

		.divider

		.conversation-comments
			.comment-entry
				.comment-text
					.comment_title_wrapper.float-left
						%a{:href => ""} 
							%h3 This is a commenter's name
						/ .comment-action-items.float-right
						/ 	%h4
						/ 		%a{:href => ""}Share
						/ 		|
						/ 		%a{:href => ""}Visit
					%p Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				.comment-rating.float-left
					%a.vote-arrow.arrow-stacked.up-arrow{:href => "http://www.google.com"} .
					
		


:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});





