!!!
%html{:dir => "ltr", :lang => "en-US", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %meta{:charset => "utf-8"}/
    %title= html_title yield(:page_title)
    = csrf_meta_tag
    = favicon_link_tag image_path('favicon.ico')
    = javascript_include_tag 'application'
    / Gives Head
    = yield(:head)
  %body
    -# linked in js
    %script{src: "//platform.linkedin.com/in.js", type: "text/javascript"}
      lang: en_US
    %p.notice= notice
    %p.alert= alert
    .page_container
      .content
        %ul.nav
          %li#nav-logo
            %a{:href => "/"}
              %img{src: "https://s3.amazonaws.com/HarnessTheCrowd/HTC-LOGO-SIDE-TRANSPARENT.png"}
          %li 
            %a{:href => "/blog"} Headlines
          %li 
            %a{:href => "/conversation"} Conversation
          %li 
            %a{:href => "/tools"} Campaign Tools
          -# %li.marketplace-link 
          -#   %a{:href => "/store"}
          -#     Marketplace
          -#     / %img#mktplace-heart{:src => "https://s3.amazonaws.com/HarnessTheCrowd/admin_uploads/mktplace-heart.png", :alt => ""}/ 

        = yield(:sub_nav)

        = yield(:intro_text)


        / May Delete because page title is unnecessary
        / %h1#page_heading
        /   %a{:href => root_url}= htcv2_config[:title]
        .divider

        - if current_user then
          = link_to 'sign_out', destroy_user_session_path, :method => :delete

        = flash_messages
        = yield
        -# #navigation



        .footer
          -# %h2 Pages
          -# %ul
          -#   - page_links_for_navigation.each do |link|
          -#     %li= link_to(link.name, link.url)

          / / THESE TAGS ARE ONLY APPLICABLE TO THE BLOG
          / - unless category_links_for_navigation.empty?
          /   %h2 Tags
          /   %ul
          /     - category_links_for_navigation.each do |link|
          /       %li= link_to(link.name, link.url)

          -# %form#sform{:action => "http://www.google.com/search", :method => "get"}
          -#   %div
          -#     %h2
          -#       %label{:for => "q"} Search
          -#     %input#q{:name => "q", :type => "text", :value => ""}/
          -#     %input{:name => "sitesearch", :type => "hidden", :value => ENV["APP_BASE_URL"]}/
        -# #footer
        -#   = htcv2_config[:title]
        -#   © #{htcv2_config[:author, :name]}. Valid
        -#   %a{:href => "http://validator.w3.org/check?uri=referer"} HTML5
        -#   and #{link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{ENV["APP_BASE_URL"]}/posts.atom"}. Powered by
        -#   = succeed "." do
        -#     %a{:href => "http://www.htcv2blog.com", :title => "A Ruby on Rails blogging app for the fashionable developer"} Htcv2

