= render 'shared/head'

= render 'tools/shared/service_subnav'

- content_for :intro_text do
	.about-us-wrapper.extra-padding.no-heading
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.

%a.fancybox{rel: "group", href: "\#message_lightbox"} Activate Messages Lightbox

- num_services = @services.length

.post-entry
	.three-column-wrapper.services
		- if num_services > 0 then
			.column.first_col
				%ul 
					- (0..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}
		- if num_services > 1 then
			.column.second_col
				%ul 
					- (1..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}
		- if num_services > 2 then
			.column.third_col
				%ul 
					- (2..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}

.dont-show#message_lightbox.services-box
	.service-message-wrapper
		%h2 Send A Message To <span class="teal">Service Title</span>
		.divider
		.service-action-wrapper
			%p.float-left I would like
			%select.form-control#service-request.float-left{:name => ""}
				%option{:value => ""}to receive a quote
				%option{:value => ""} Second Option
				%option{:value => ""} Third Option
				%option{:value => ""}  Fourth Option
			%select.form-control#service-reason.float-left{:name => ""}
				%option{:value => ""}for a campaign I'm planning.
				%option{:value => ""} Second Option
				%option{:value => ""} Third Option
				%option{:value => ""}  Fourth Option

		%textarea.form-control{:name => "", :cols => "30", :rows => "10"} 

		.message-details-wrapper
			#service-name.float-left
				%p
					Your Name
				%input{type:'text', class:"form-control"}
			#service-email.float-right
				%p & Email
				%input{type:'text', class:"form-control"}

		.bottom-service-buttons
			.divider
			.float-left.button.gray-button
				%a{:href => ""} Never Mind
			.float-right.button.blue-button
				%a{:href => ""} Send  

		/ = form_for :message, url: "/test" do |f|
		/ 	= f.label :Email
		/ 	= f.text_field :email, class: 'form-control'
		/ 	= f.label "Inquiry type"
		/ 	= f.select(:inquiry_type, options_for_select([['Price inquiry', :price], ['Other options...', :other]], :price), class: 'form-control')
		/ 	= f.label :Message
		/ 	= f.text_area :message, class: 'form-control'
		/ 	= f.submit "Submit"


:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});


