= render 'shared/head'

= render 'tools/shared/service_subnav'

- content_for :intro_text do
	.about-us-wrapper.extra-padding.no-heading
		%p Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.Cum sociis natoque penatibus et Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem.

- num_services = @services.length

.post-entry
	.three-column-wrapper.services
		- if num_services > 0 then
			.column.first_col
				%ul 
					- (0..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}
		- if num_services > 1 then
			.column.second_col
				%ul 
					- (1..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}
		- if num_services > 2 then
			.column.third_col
				%ul 
					- (2..num_services - 1).step(3).each do |index|
						= render partial: 'service_listing', locals: {this_service: @services[index]}

- @services.each do |this_service|
	= render partial: 'message_service', locals: {this_service: this_service}

:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});


