.resource_entry
	.resource_title_wrapper
		%a{:href => resource.out_link, target: '_blank'}
			%h3= resource.title
		.resource-action-items
			%h4
				= render partial: 'shared/social_sharing/share_facebook_link', locals: {url_to_share: resource.out_link, button_text: "FB"}
				|
				= render partial: 'shared/social_sharing/tweet_link', locals: {tweet_text: "#{resource.title} #{resource.out_link}", button_text: "TW"}
				|
				= render partial: 'shared/social_sharing/share_linkedin', locals: {share_title: resource.title, share_summary: resource.description, share_source: ENV["APP_BASE_URL"], share_url: resource.out_link, button_text: "Li"}
				|
				%a.full-opacity{:href => resource.out_link, target: '_blank'} Visit
	%p= resource.description