= render 'shared/head'

= render 'resource_subnav'
- content_for :page_title do
	= raw "#{@selected_category.title} - Crowdfunding Resources | "
- content_for :intro_text do
	.about-us-wrapper.no-padding.no-heading
		%p.resource-description If you've never run a campaign before, getting started can seem like a daunting task. To make it a little easier, we've compiled the best links, tools, and resources to help you get a feel for the process.
		.suggest-tool-wrapper
			%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/we-wanna-hear.png", :alt => ""}/ 
			%a.fancybox{:href => "\#suggest_a_resource"}
				%h2 Suggest A Resource
			.divider

			-# %p We’d love to make this the best set of tools possible. Let us know if there’s a <a class="fancybox" href="#suggest_a_resource">resource you recommend</a>.

<<<<<<< HEAD
		
=======
		-# %p If you've never run a campaign before, getting started can seem like a daunting task. To make it a little easier, we've compiled the best links, tools, and resources to help you get a feel for the process. 

>>>>>>> 46db945b5988a0698b33629058dc1c698597cee3


.post-entry
	- if @selected_category and @selected_category.image? then
		%img{src: @selected_category.image.url(:original), style: "width: 600px;"}
	= render partial: 'shared/tools/submit_tool_form', locals: {tool_type: "Resource"}
	- if @selected_category and @selected_category.resources.any? then
		.resources_subsection
			- @selected_category.resources.order('rank asc').each do |resource|
				= render partial: 'resource_listing', locals: {resource: resource}
		%br
		.divider

	- if @selected_category and @selected_category.resource_categories then
		- @selected_category.resource_categories.order('rank asc').each do |subcat|
			.resources_subsection
				%h2= subcat.title
				- if subcat and subcat.resources then
					- subcat.resources.order('rank asc').each do |resource|

						= render partial: 'resource_listing', locals: {resource: resource}
			.divider.extra-bottom-margin

= render partial: 'shared/tools/suggest_a_tool', locals: {tool_is_service: false}

:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});