= render 'shared/head'
= render 'resource_subnav'
- content_for :page_title do
	= raw "#{@resource.title} | "
- content_for :intro_text do
	.about-us-wrapper.no-padding.no-heading
		.suggest-tool-wrapper
			%img{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/we-wanna-hear.png", :alt => ""}/ 
			%a.fancybox{:href => "\#suggest_a_resource"}
				%h2 Suggest A Resource
			.divider

.resource-entry-page
	.top-content-wrapper
		%a{href: @resource.out_link, target: '_blank'}
			%h1.teal.width-45.float-left= @resource.title

		%p.width-45.float-right= raw @resource.page_body_html

	.resource-link-wrapper
		%a.float-left{:href => "/campaign-tools/resources/#{@resource.parent_resource_category.seo_url}"}
			%h4= "<< More Resources from #{@resource.parent_resource_category.title}"
		%a.float-right{:href => @resource.out_link, target: '_blank'}
			%h4 Visit the Site >>

= render partial: 'shared/tools/suggest_a_tool', locals: {tool_is_service: false}

:javascript
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});