- full_url_to_post = post_path(post, {only_path: false})
- relative_url_to_post = post_path(post)

%h1= link_to_post(post)

- if post.image? or post.video?
	.blog_post_main_image
		%a{:href => relative_url_to_post}
			- if post.image? then
				%img.center_img{src: post.image.url(:original)}
			- else
				%iframe{src: (raw post.video), frameborder: "0"}

/ This is The Main Paragraph Text
.entry-description
	- if preview then
		= raw(post.preview_html)
	- else
		= raw(post.body_html)

/ This Is The Content At The End Of The Post
.entry-meta.HTC-parent-of-floats{style: "overflow: visible;"}
	%ul
		%li.date
			#{format_post_date(post.published_at) if post.published?}

		-# %li.comments= link_to_post_comments post
		/ - unless post.tags.empty?
		/ 	%li.tags
		/ 		#{linked_tag_list(post.tags)}

	
		%li.action-item
			= render partial: 'shared/social_sharing/share_facebook_link', locals: {url_to_share: full_url_to_post, button_text: "FB"}
			= render partial: 'shared/social_sharing/tweet_link', locals: {tweet_text: "#{post.title} #{full_url_to_post}", button_text: "TW"}, class: "share-btn"
			= render partial: 'shared/social_sharing/share_linkedin', locals: {share_title: post.title, share_summary: nil, share_source: ENV["APP_BASE_URL"], share_url: full_url_to_post, button_text: "LI"}
			- if preview then
				%p|
				%a{:href => relative_url_to_post} Read More

- if post.about_campaign and post.out_link then
	%a.visit-campaign-link.teal.center-align{:href => post.out_link, target: '_blank'}Visit The Campaign
- if preview then
	.divider

