= form_for conversation_post, html: { multipart: true, class: "post-convo-form full-width-textfield" } do |f|
	- if conversation_post.errors.any?
		#error_explanation
			%h2= "#{pluralize(conversation_post.errors.count, "error")} prohibited this post from being saved:"
			%ul
				- conversation_post.errors.full_messages.each do |msg|
					%li= msg
	%fieldset.new-conversation
		.top-half
			-# .field
			= f.text_area :body, :cols => "30", :rows => "8", class: "form-control float-left"
			%button.btn.btn-white.float-right#create_conv_post_form_button{}= share_message
		.bottom-half
			-# .field
			= f.label "ADD AN IMAGE"

			= f.file_field :image, class: "button"
			-# .field
			= f.label "Or Add A Video"
			= f.text_field :video_link, {class: "text-field"}
			-# .actions
			-#= f.submit share_message, html: { class: "btn btn-white float-right" }


-# .post-convo-form.full-width-textfield
-# 	%fieldset 
-# 		%textarea.form-control.float-left{:name => "", :cols => "30", :rows => "8"} 	
-# 		%button.btn.btn-white.float-right{:type => "submit"}= share_message