- content_for :head do
	= javascript_include_tag "conversation"
.lightbox-content-wrapper
	-# / There Is No Project Title That Appears in the Lightbox
	
	-# / This Is the Main Piece of Media
	.lightbox-main-media
		- if @post.image?
			= image_tag @post.image.url(:original)
		- elsif @post.video_html then
			= @post.video_html.html_safe
		- else
			%h1.lightbox-background-title THOUGHTS, IDEAS, AND INSIGHTS

	.posted-by-whome-wrapper
		- if @post.user then
			%h4.teal
				Posted By 
				= @post.user.username
		- else
			%h3.left-align.teal
				Posted By
				Batman
	
	-# / This Is The Description
	%p= @post.body


	.divider

	.post-comment-wrapper.conversation-post-comment-form
		= render partial: 'conversation_posts/conversation_comment_form', locals: {comment: @post.comments.new}

	.divider
	.conversation-comments
		- @comments.each do |comment|
			= render partial: 'conversation_posts/comment_on_conversation', locals: {comment: comment, ajax: false}