!!!
%html{:dir => "ltr", :lang => "en-US"}
	%head
		%meta{:charset => "utf-8"}
		%title= html_title yield(:page_title)
		= csrf_meta_tag
		= favicon_link_tag image_path('favicon.ico')
		= javascript_include_tag 'application'
		/ Gives Head
		= yield(:head)
		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '#{ENV["GA_ID"]}', #{(Rails.env.development?) ? "{'cookieDomain': 'none'}" : "'#{ENV["GA_DOMAIN"]}'"});
			ga('send', 'pageview');


		:javascript
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);mixpanel.init('#{ENV["MIXPANEL_ID"]}');
		:javascript
			var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
			heap.load('#{ENV["HEAP_ID"]}');
	%body
		%p.notice= notice
		%p.alert= alert
		.page_container
			.content
				%ul.nav
					%li#nav-logo
						%a{:href => "/"}
							%img{src: "https://s3.amazonaws.com/harnessthecrowd/HTC-LOGO-SIDE-TRANSPARENT.png"}
					%li 
						%a{:href => "/newsletter"} Newsletter
												
					%li 
						%a{:href => "/tools/services"} Services

					%li 
						%a{:href => "/tools/resources"} Resources

					-# %li.marketplace-link 
					-#   %a{:href => "/store"}
					-#     Marketplace
					-#     / %img#mktplace-heart{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/mktplace-heart.png", :alt => ""}/

				- if current_user then
					= link_to 'Sign Out >', destroy_user_session_path, :method => :delete, class: "float-left login-btn"
				- else
					= link_to 'Login/Sign Up >', new_user_session_path, class: "float-left login-btn"
				%a.float-right.login-btn{href: '/community'} Community Page

				= yield(:sub_nav)

				= yield(:intro_text)


				/ May Delete because page title is unnecessary
				/ %h1#page_heading
				/   %a{:href => root_url}= htcv2_config[:title]
				.divider


				= flash_messages
				= yield
				-# #navigation

				%hgroup.secondary
					%a{:href => "/help_out"} Help Out
					-# %br/ 
					-# %br/ 
					-# %a{:href => ""} Newsletter
					

				.footer
					%ul.footer-list.float-left
						%li.footer-elem
							%a.social-link{:href => ""} FB
						%li.footer-elem.pipe &#124
						%li.footer-elem 
							%a.social-link{:href => ""} TW
						%li.footer-elem.pipe &#124
						%li.footer-elem 
							%a.social-link{:href => ""} LI
						%li.footer-elem.pipe &#124
						%li.fotter-elem.crowdfund-title <span class="hub-title-thin">Harness The </span><span class="crowdfund-title-bold">Crowd</span>
					
					%ul.footer-list.float-right 
						%li.footer-elem
							%a{:href => "/contact_us"} Contact Us
						%li.footer-elem &#124
						%li.footer-elem 
							%a{:href => "/press"} Press
						%li.footer-elem &#124
						%li.footer-elem 
							%a{:href => "/about_us"} About HTC

					-# %h2 Pages
					-# %ul
					-#   - page_links_for_navigation.each do |link|
					-#     %li= link_to(link.name, link.url)

					/ / THESE TAGS ARE ONLY APPLICABLE TO THE BLOG
					/ - unless category_links_for_navigation.empty?
					/   %h2 Tags
					/   %ul
					/     - category_links_for_navigation.each do |link|
					/       %li= link_to(link.name, link.url)

					-# %form#sform{:action => "http://www.google.com/search", :method => "get"}
					-#   %div
					-#     %h2
					-#       %label{:for => "q"} Search
					-#     %input#q{:name => "q", :type => "text", :value => ""}/
					-#     %input{:name => "sitesearch", :type => "hidden", :value => ENV["APP_BASE_URL"]}/
				-# #footer
				-#   = htcv2_config[:title]
				-#   © #{htcv2_config[:author, :name]}. Valid
				-#   %a{:href => "http://validator.w3.org/check?uri=referer"} HTML5
				-#   and #{link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{ENV["APP_BASE_URL"]}/posts.atom"}. Powered by
				-#   = succeed "." do
				-#     %a{:href => "http://www.htcv2blog.com", :title => "A Ruby on Rails blogging app for the fashionable developer"} Htcv2
