!!!
%html{:dir => "ltr", :lang => "en-US"}
	%head
		%meta{:charset => "utf-8"}
		%title= "#{yield(:page_title)}Harness the Crowd"
		= csrf_meta_tag
		= favicon_link_tag image_path('favicon.ico')
		= javascript_include_tag 'application'
		-# / Gives Head
		= stylesheet_link_tag "main_style"
		= stylesheet_link_tag "jquery.fancybox"
		= yield(:head)

		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '#{ENV["GA_ID"]}', #{(Rails.env.development?) ? "{'cookieDomain': 'none'}" : "'#{ENV["GA_DOMAIN"]}'"});
			ga('send', 'pageview');


		:javascript
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);mixpanel.init('#{ENV["MIXPANEL_ID"]}');
		:javascript
			var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
			heap.load('#{ENV["HEAP_ID"]}');
	%body
		.we-wrote-wrapper
			%a{:href => "/ebook"} 
				%img.we-wrote-tag{:src => "https://s3.amazonaws.com/harnessthecrowd/admin_uploads/we-wrote.png", :alt => ""}/ 
		%p.notice= notice
		%p.alert= alert
		.page_container
			.content
				%ul.nav
					%li#nav-logo
						%a{:href => "/"}
							%img{src: "https://s3.amazonaws.com/harnessthecrowd/HTC-LOGO-SIDE-TRANSPARENT.png"}
					/ %li 
					/ 	%a#newsletter-fancybox-link.fat.teal{:href => '#newsletter-sign-up-fancybox'} Newsletter
					%li 
						%a{:href => "/ebook"} EbooK 							
					%li 
						%a{:href => "/campaign-tools/services"} Services

					%li 
						%a{:href => "/campaign-tools/resources"} Resources

				= yield(:nav_left_sublink)

				-# %a.float-right.login-btn{href: '/community'} Discussion Board >

				= yield(:sub_nav)

				= yield(:intro_text)


				-# / May Delete because page title is unnecessary
				-# / %h1#page_heading
				-# /   %a{:href => root_url}= htcv2_config[:title]
				-# / .divider


				= flash_messages
				= yield

				%hgroup.secondary
					%a.teal{:href => "/help_out", target: "_blank"} Share the <3
					%a#newsletter-fancybox-link{:href => '#feedback-form-fancybox'} Feedback

					-# %br/ 
					-# %br/ 
					-# %a{:href => ""} Newsletter
					

				.footer
					%ul.footer-list.float-left
						-# %li.footer-elem
						-# 	%a.social-link{:href => ""} FB
						-# %li.footer-elem.pipe &#124
						%li.footer-elem 
							%a.social-link{:href => "http://twitter.com/harnessthecrowd", target: "_blank"} TW
						%li.footer-elem.pipe &#124
						-# %li.footer-elem 
						-# 	%a.social-link{href: ""} LI
						-# %li.footer-elem.pipe &#124
						%li.fotter-elem.crowdfund-title 
							%a{href: "/"} <span class="hub-title-thin">Harness The </span><span class="crowdfund-title-bold">Crowd</span>
					
					%ul.footer-list.float-right 
						%li.footer-elem
							%a{:href => "/contact-us"} Contact Us
						%li.footer-elem &#124
						%li.footer-elem 
							%a{:href => "/press"} Press
						%li.footer-elem &#124
						%li.footer-elem 
							%a{:href => "/about-us"} About HTC

		.dont-show#newsletter-sign-up-fancybox
			#mc_embed_signup#newsletter-wrapper
				%form#mc-embedded-subscribe-form.validate{:action => "http://harnessthecrowd.us7.list-manage.com/subscribe/post?u=2a019debb3c7760c3ab83a635&id=d1cde921c0", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
					
					%h2.teal.center-align#newsletter-title Keep In Touch
					.divider
					%p We've got a lot cool features we're working on. Sign up and we'll notify you before they go live. We'll be very respectful about the messages we send out.
					.divider
					%br/ 
					.mc-field-group
						-# / %h3.gray.uppercase.center-align Let's Do It!
						-# / %label.center-align{:for => "mce-EMAIL"} Let's Do It!
						%input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => "your email goes here..."}/
					#mce-responses.clear
						#mce-error-response.response{:style => "display:none"}
						#mce-success-response.response{:style => "display:none"}
					.clear.center-align
						%input#mc-embedded-subscribe.button.blue-button{:name => "subscribe", :type => "submit", :value => "Let's Do It!"}
					= javascript_include_tag 'mailchimp_script'
		.dont-show#feedback-form-fancybox.center-align
			#feedback-form-wrapper
				%h2.teal.uppercase We want to hear from you!
				.divider
				= form_for Feedback.new, remote: true do |f|
					%p.center-align Tell us what you're thinking! We'd love to hear your thoughts, feedback, and ideas!
					= f.text_area :message, class: "form-control"
					%br
					%p.center-align If you'd like us to to message you back, please provide your email. (It's not required).
					= f.email_field :email, class: "form-control width-45"
					= f.submit "Send feedback", class: "btn blue-button"
					%br/ 
					%br/ 